<!DOCTYPE html>
<html>
<head>
  <title>NFC Registration</title>
</head>
<body>
  <h1>Welcome to the NFC Registration Site</h1>
  <p>Please scan your NFC card to begin registration.</p>
</body>
</html>
